.well {
  background-color: white;
}
.navbar {
  background-color: white;
}
body {
  background: lightgrey !important;
}
.navbar-header {
  background-color: #008080;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 45px;
   border-top: 5px solid #008080;
   padding: 5px;
   background-color: grey;
   color: white;
   text-align: center;
}